.product {
    border: 1px solid lightgrey;
    border-radius: 10px;
    width:300px;
}

.price {
    color:red;
    &__main{
        color:green;
    }
    &__dop {
        color:blue;
    }
}
.like {
    background: darkred; 
    color:white;
}
.dislike{
    background: white; 
    color:darkred;
}

